//- File for Import, no Scripting in this File

doctype html
html(lang="de")
  include ./includes/head.jade
  body
    
    // HEADER 
    include ./modules/header.jade
    
    // MAIN CONTENT 
    main
      include ./modules/intro.jade
      
    // FOOTER 
    include ./modules/footer.jade
    
