//- File for Import, no Scripting in this File

doctype html
html(lang="de")
  include ./includes/head.jade
  body
    
    // HEADER 
    include ./modules/header.jade
    
    // MAIN CONTENT 
    main#js_trigger_header
      include ./modules/intro.jade
      section(style="height: 3000px")
      
    // FOOTER 
    include ./modules/footer.jade
    
