//
// Some Useful color Vars via http://clrs.cc/
//

// Cool
$aqua:  #7FDBFF
$blue:  #0074D9
$navy:  #001F3F
$teal:  #39CCCC
$green: #2ECC40
$olive: #3D9970
$lime:  #01FF70


// Warm
$yellow:  #FFDC00
$orange:  #FF851B
$red:     #FF4136
$fuchsia: #F012BE
$purple:  #B10DC9
$maroon:  #85144B


// Gray Scale
$c_white:  #fff
$c_silver: #ddd
$c_gray:   #aaa
$c_black:  #111

// Theme Colors

$c_theme_bg_1: #FCFBE3
$c_theme_bg_2: #578CA9

$c_theme_bg_dark: #282c34


$c_theme_font: darken(#4B5262, 10)
$c_theme_light: #95DEE2
$c_theme_dark: #142642
$c_theme_base: #2D5593
$c_theme_accent: #FFC800
$c_theme_altaccent: #FF5B4A

$c_theme_accent_light: lighten($c_theme_accent, 30)
$c_theme_accent_dark: darken($c_theme_accent, 30)


$f_Roboto : 'Roboto', sans-serif
$f_RobotoSlab : 'Roboto Slab', sans-serif

$f_standard : $f_Roboto
$f_accent: $f_RobotoSlab
