head
  meta(charset="utf-8")
  title Next-Generation Relaunch
  link(rel="stylesheet", href="assets/css/main.css")
  
  meta(name="author", content="Florian Lubitz, Pascal Mattes")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  
