section.fullheight
  .container.grid
    .col.col-12-of-12
      h1.secheading BreaK
      hr
    .col.col-12-of-12.nomargin
      h1 The breaking Theme
    .col.col-4-of-12
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .col.col-4-of-12
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .col.col-4-of-12
      img(src="assets/img//big/img_b_063.jpg")
  section.sec-bg-3.conic.creverse
    .container.grid
      .col.col-6-of-12
        img(src="assets/img//big/img_b_186.jpg")
      .col.col-6-of-12
        ul
          li Hiealefaef oihfef lefadf
          li Hiealefaef oihfef lefadf
          li Hiealefaef oihfef lefadf
          li Hiealefaef oihfef lefadf
        ol
          li  Lorem ipsum dolor.
          li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero hic similique eaque dolorum ex obcaecati ab? Ullam cum quo, pariatur?
          li  Lorem ipsum dolor sit amet.
          
  section.sec-bg-img(style="background-image:linear-gradient(rgba(30, 30, 30, 0.45), rgba(30,30, 30, 0.45)), url(assets/img/big/img_b_089.jpg)")
    .container.grid
      .col.col-12-of-12
        h1(style="text-transform: uppercase").secheading Be Inspired
      .col.col-12-of-12.nomargin
        h1 Go for your goals
  
  section.fullheight.sec-bg-2
  //- (style="background-image:linear-gradient(rgba(30, 30, 30, 0.45), rgba(30,30, 30, 0.45)), url(assets/img/download.jpg)")
  section
