@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Roboto:300,400,500,700|Roboto+Slab:300,400,500");
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*-----------------------------------*
  $TOAST-GRID

  An insane grid.
  You'd be mad to use it.

  Usage
  =====

  Assuming default values:

  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>


  Customisation
  =============

  $toast-grid-namespace and $toast-grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.

  $toast-col-groups(n) adjusts column divisions.
  For example, $toast-col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.

  $toast-gutter-width is—you guessed it—the gutter
  width. Accepts any unit.

  That's it. Have fun.

\*-----------------------------------*/
.grid {
  list-style: none;
  margin-left: -16px;
  margin-left: -1rem;
}

.col-5-of-5, .col-12-of-12 {
  width: 100%;
}

.col-6-of-12 {
  width: 50%;
}

.col-4-of-12 {
  width: 33.33333%;
}

.col-8-of-12 {
  width: 66.66667%;
}

.col-3-of-12 {
  width: 25%;
}

.col-9-of-12 {
  width: 75%;
}

.col--push-5-of-5, .col--push-12-of-12 {
  margin-left: 100%;
}

.col--push-6-of-12 {
  margin-left: 50%;
}

.col--push-4-of-12 {
  margin-left: 33.33333%;
}

.col--push-8-of-12 {
  margin-left: 66.66667%;
}

.col--push-3-of-12 {
  margin-left: 25%;
}

.col--push-9-of-12 {
  margin-left: 75%;
}

.col--pull-5-of-5, .col--pull-12-of-12 {
  margin-left: -100%;
}

.col--pull-6-of-12 {
  margin-left: -50%;
}

.col--pull-4-of-12 {
  margin-left: -33.33333%;
}

.col--pull-8-of-12 {
  margin-left: -66.66667%;
}

.col--pull-3-of-12 {
  margin-left: -25%;
}

.col--pull-9-of-12 {
  margin-left: -75%;
}

.col-1-of-5 {
  width: 20%;
}

.col--push-1-of-5 {
  margin-left: 20%;
}

.col--pull-1-of-5 {
  margin-left: -20%;
}

.col-2-of-5 {
  width: 40%;
}

.col--push-2-of-5 {
  margin-left: 40%;
}

.col--pull-2-of-5 {
  margin-left: -40%;
}

.col-3-of-5 {
  width: 60%;
}

.col--push-3-of-5 {
  margin-left: 60%;
}

.col--pull-3-of-5 {
  margin-left: -60%;
}

.col-4-of-5 {
  width: 80%;
}

.col--push-4-of-5 {
  margin-left: 80%;
}

.col--pull-4-of-5 {
  margin-left: -80%;
}

.col-1-of-12 {
  width: 8.33333%;
}

.col--push-1-of-12 {
  margin-left: 8.33333%;
}

.col--pull-1-of-12 {
  margin-left: -8.33333%;
}

.col-2-of-12 {
  width: 16.66667%;
}

.col--push-2-of-12 {
  margin-left: 16.66667%;
}

.col--pull-2-of-12 {
  margin-left: -16.66667%;
}

.col-5-of-12 {
  width: 41.66667%;
}

.col--push-5-of-12 {
  margin-left: 41.66667%;
}

.col--pull-5-of-12 {
  margin-left: -41.66667%;
}

.col-7-of-12 {
  width: 58.33333%;
}

.col--push-7-of-12 {
  margin-left: 58.33333%;
}

.col--pull-7-of-12 {
  margin-left: -58.33333%;
}

.col-10-of-12 {
  width: 83.33333%;
}

.col--push-10-of-12 {
  margin-left: 83.33333%;
}

.col--pull-10-of-12 {
  margin-left: -83.33333%;
}

.col-11-of-12 {
  width: 91.66667%;
}

.col--push-11-of-12 {
  margin-left: 91.66667%;
}

.col--pull-11-of-12 {
  margin-left: -91.66667%;
}

.col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 16px;
  padding-left: 1rem;
  vertical-align: top;
}

@media (max-width: 700px) {
  .col {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
}

@media (max-width: 700px) and (min-width: 480px) {
  .col[class*="col--m-"] {
    display: inline-block;
    margin-right: -.24em;
  }
  .col.col--m-1-of-2, .col.col--m-2-of-4 {
    width: 50%;
  }
  .col.col--m-1-of-3 {
    width: 33.33333%;
  }
  .col.col--m-2-of-3 {
    width: 66.66667%;
  }
  .col.col--m-1-of-4 {
    width: 25%;
  }
  .col.col--m-3-of-4 {
    width: 75%;
  }
}

@media (max-width: 480px) {
  .col[class*="col--s-"] {
    display: inline-block;
    margin-right: -.24em;
  }
  .col.col--s-1-of-2, .col.col--s-2-of-4 {
    width: 50%;
  }
  .col.col--s-1-of-3 {
    width: 33.33333%;
  }
  .col.col--s-2-of-3 {
    width: 66.66667%;
  }
  .col.col--s-1-of-4 {
    width: 25%;
  }
  .col.col--s-3-of-4 {
    width: 75%;
  }
}

.col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col--d-first {
  float: left;
}

.col--d-last {
  float: right;
}

.grid--no-gutter {
  margin-left: 0;
  width: 100%;
}

.grid--no-gutter .col {
  padding-left: 0;
}

.grid--no-gutter .col--span-all {
  margin-left: 0;
  width: 100%;
}

.col--ab {
  vertical-align: bottom;
}

.col--am {
  vertical-align: middle;
}

body {
  font-size: 15px;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  color: #353a45;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background: #333;
}

body, html {
  width: 100%;
  overflow-x: hidden;
}

::root {
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  background: #FFF498;
}

::selection {
  background: #FFF498;
}

::-moz-selection {
  background: #FFF498;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #FFF498;
}

a {
  color: #0074D9;
  text-decoration: none;
  outline: 0;
}

a:hover, a:focus {
  color: #40a6ff;
}

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #353a45;
  font-weight: bold;
}

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px;
}

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px;
}

.large, h2 {
  color: #353a45;
  font-size: 64px;
  font-size: 4rem;
  font-weight: 300;
  margin: 0 0 48px;
  margin: 0 0 3rem;
  padding: 0;
  line-height: 1.14;
}

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38;
}

.big, h4 {
  font-size: 22px;
  line-height: 1.38;
}

.small, small {
  font-size: 10px;
  line-height: 1.2;
}

.align-right {
  text-align: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.linetrough {
  text-decoration: line-through;
}

p {
  margin: 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

::-webkit-scrollbar {
  width: 8px;
  width: 0.5rem;
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

::-webkit-scrollbar-corner {
  background: #aaa;
}

header {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
}

header .logo {
  position: absolute;
  top: 0;
  padding: 128px 24px 24px;
  padding: 8rem 1.5rem 1.5rem;
  left: 48px;
  left: 3rem;
  z-index: 18;
  background: #fff;
}

header .logo svg {
  width: 320px;
  width: 20rem;
}

header .heroimg {
  height: 100vh;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -50;
}

header .heroimg .herotext {
  position: fixed;
  font-size: 28.8px;
  font-size: 1.8rem;
  color: #fff;
  padding: 8vw 20vw;
}

header .heroimg .herotext > * {
  text-align: right;
}

nav {
  width: 100%;
  height: 80px;
  height: 5rem;
  z-index: 120;
  border-top: 3.2px solid #004f23;
  border-top: 0.2rem solid #004f23;
  color: #353a45;
  display: block;
  margin: 0 auto;
  box-sizing: content-box;
  background: #fff;
  padding: 0;
  box-shadow: 0 0 0.8rem rgba(30, 30, 30, .6);
}

nav.bottom {
  position: absolute;
  bottom: 0;
}

nav.center {
  position: fixed;
  top: calc(50vh - 2.5rem);
}

nav .container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
}

nav .logo {
  position: relative;
  left: 0;
  top: 0;
  height: 80px;
  height: 5rem;
  opacity: 0;
  width: 20%;
  display: block;
  padding: 0;
}

nav .logo svg {
  height: 48px;
  height: 3rem;
  width: auto;
}

nav .logo a {
  display: block;
  padding: 16px;
  padding: 1rem;
  margin: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav .logo a:hover {
  color: #3b8194;
}

nav .logo h1 {
  margin: 0;
  font-size: 48px;
  font-size: 3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #353a45;
}

nav .logo h1:hover {
  color: #3b8194;
}

nav .logo img {
  padding: 6.4px 0;
  padding: 0.4rem 0;
  height: 48px;
  height: 3rem;
}

nav a {
  position: relative;
  color: #353a45;
  cursor: pointer;
  height: 100%;
  line-height: 1;
  padding: 30.4px 32px 27.2px;
  padding: 1.9rem 2rem 1.7rem;
  display: block;
  border-width: 3.2px;
  border-width: 0.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

nav a:hover {
  color: #3b8194;
}

nav a:hover ~ .indicator {
  width: 90%;
}

nav a.active {
  color: #3b8194;
}

nav a.active ~ .indicator {
  width: 90%;
}

nav .indicator {
  height: 3.2px;
  height: 0.2rem;
  background: #3b8194;
  width: 0;
  margin: 0 auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav ul {
  height: 100%;
  width: 80%;
  margin: 0;
  padding: 0;
  font-size: 19.2px;
  font-size: 1.2rem;
}

nav ul li {
  position: relative;
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  float: right;
  display: block;
}

.logo svg.nglogo #svg_subtitle path, .logo svg.nglogo #svg_spitze {
  fill: #69b530;
  fill-opacity: 1;
  fill-rule: nonzero;
}

.logo svg.nglogo #svg_title {
  fill: #1d4b27;
  fill-opacity: 1;
  fill-rule: nonzero;
}

.logo svg.nglogo #svg_shaft {
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  clear: both;
}

section {
  position: relative;
  background: #fff;
  background-background-image: linear-gradient(rgba(30, 30, 30, .45), rgba(30, 30, 30, .45));
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  width: 100%;
  min-height: 20vh;
  padding: 96px 0;
  padding: 6rem 0;
}

section * {
  z-index: 25;
  position: relative;
}

section:first-of-type {
  margin-top: 100vh;
  padding-top: 48px;
  padding-top: 3rem;
}

section.fullheight {
  min-height: 100vh;
}

section.conic {
  margin-top: 160px;
  margin-top: 10rem;
}

section.conic::before {
  content: '';
  width: 200%;
  background: inherit;
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  height: 50vh;
  position: absolute;
  top: calc(-3vw - 5.1vh);
  left: -50%;
  z-index: 15;
}

section.conic::after {
  content: '';
  width: 200%;
  background: inherit;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  height: 50vh;
  position: absolute;
  bottom: -3vw;
  left: -50%;
  z-index: 20;
}

section.creverse::before {
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

section.creverse::after {
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
}

.sec-bg-1 {
  background-color: #fff;
  color: #353a45;
}

.sec-bg-2 {
  background-color: #fe5243;
  color: #353a45;
}

.sec-bg-3 {
  background-color: #3b8194;
  color: #fff;
}

.sec-bg-img {
  color: #ddd;
}

main img {
  width: 90%;
  box-shadow: 0 0 0.8rem rgba(30, 30, 30, .6);
  margin: 0 auto;
}

.hide {
  display: none;
  opacity: 0;
}
